* {
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    width: 800px;
    border-radius: 50px;
    padding: 10px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2:hover span {
    display: none;
}

h2:hover::before {
    content: "this is a promise"
}

.text {
    font-size: 15px;
    background-color: purple;
    color: wheat;
    text-align: center;
}


.body {
    background-color: rgb(83, 38, 83);
     color: white;
}

.smolText {
    font-size: 7px;
}

.container {
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
    margin-top: 300px;
}

