.class1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#backbutton {
    align-content: center;
    color: red;
    text-decoration: none;
}

#backbutton:hover {
    color: blue;
    text-decoration: underline;
}