.outter-box {
    margin-top: 100px;
  }

  h2 {
    font-family: Paytone One, Bookman;
    text-align: center;
    position: relative;
    font-size: 40px;
    color: #fcf7f9;
  }

  .headshot {
    width: 120px;
    height: 110px;
    position: relative;
    top: 20px;
    right: 20px;
    border-radius: 50%;
  }

  .box {
    border-style: solid;
    border-color: #f2105c;
    border-width: 1px;
    text-align: center;
    background-color: #f74c86;
    border-radius: 10px;
  }

  .handwritten-letter {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px
  }

   body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(83, 38, 83);
    color: white;
  }

  /* Style the side navigation */

  /* Side navigation links */

  /* Style the content */

  .content {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 20px;
  }


.centerDiv {
  max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
}

.centerButton {
  max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

button {
  display: center;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
  background-color: #f74c86;
  outline: 3px black solid;
  outline-offset: -3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

button:hover {
  background-color: plum;
}

button:hover .text {
  color: black;
}
